<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Haku</title>
</head>
<body>
    <header class="header">
        <button class="menu-button"><i class="fas fa-bars"></i></button>
        <div><a href=""><img class="logo-menu" src="./images/logo.svg" alt=""></a></div>
        <div>
            <i class="fas fa-search"></i>
            <i class="fas fa-shopping-basket"></i>
            <i class="fas fa-user"></i>
        </div>
    </header>

    <section class="portada">
        <h2>- Skincare Products</h2>
        <h1>We Offer the Best <br> Products for your Skin</h1>
        <button class="button">Comprar ahora</button>

    </section>



    <footer class="footer">
        <div class="footer-col">
            <h1>lorem3</h1>
            <ul>
                <li>lorem*2</li>
                <li>lorem*2</li>
                <li>lorem*2</li>
            </ul>

        </div>
        <div class="footer-col">
            <h1>lorem3</h1>
            <ul>
                <li>lorem*2</li>
                <li>lorem*2</li>
                <li>lorem*2</li>
            </ul>
        </div>
        <div class="footer-col">
            <h1>lorem3</h1>
            <ul>
                <li>lorem*2</li>
                <li>lorem*2</li>
                <li>lorem*2</li>
            </ul>
        </div>
        <div class="footer-col">
            <h1>lorem3</h1>
            <ul>
                <li>lorem*2</li>
                <li>lorem*2</li>
                <li>lorem*2</li>
            </ul>
        </div>
    </footer>
</body>
</html>